.btn{
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: 0.5em;
    border: none;
    background-color: #d3d3d3;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Poppins", serif;
}

.btn-highlighted{
    background-color: var(--verde-main);
    color: white;
}