.content-nav{
    margin: 1em;
    margin-top: 2.5em;
    display: flex;
    justify-content: center;
    gap: 0.5em;
    background-color: var(--grey-bg);
    border-radius: 8px;
}

.btn-nav{
    font-size: 13px;   
    color: black;
    margin: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    padding: 0.8rem;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 8px;
}

.btn-nav:visited{
    text-decoration: none;
}

.active{
    transition: 0.3s;
    color:white;
    background-color: var(--verde-main);
    
}

@media screen and (min-width: 900px){

    .btn-nav{
        font-size: 16px;
    }
}